public class eulerX {


public static void main(String[] args) {
    final long startTime = System.currentTimeMillis();
    System.out.println(new eulerX().compute());
    final long endTime = System.currentTimeMillis();
    System.out.println("Total execution time: " + (endTime - startTime) + " ms." );

}
}
